@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

html {
  font-size: 20px;
}

@media (max-width: 440px) {
  html {
    font-size: 18px;
  }
}

body {
  font-family: "Roboto", sans-serif;
  color: #666;
  font-weight: 400;
}

.hero {
  width: 100%;
  height: 100vh;
  background-color: #fff;
}

#kaka {
  font-weight: 800;
}